*{
    background-color: #282c34;
}
h1{
    color: white;
}
.about {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: left;
}

.about-wrapper {
    margin-top: 100px;
}