html, body {
    margin: 0;
    position: relative;
    height: 140vh;
  }
  
  html {
    background-color: #f6f6f6;
  }

  .timelines {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .timeline-education{
    height: 100vh;
  }
  
  .timeline-title {
    font-size: 3em;
    font-weight: bold;
  }
  
  .timeline-item {
    margin-bottom: 2em;
  }
  .timeline-item h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-left: 1.5em; /* Add padding to create space between text and dot */
  }
  .timeline-item h3::before {
    content: "";
    position: absolute;
    left: -2.45em;
    margin-top: 0px;
    background-color: #7db5ea;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
  }
  
  .timeline-items {
    margin: 2em;
    padding: 0.02em 0 3em 2em;
    border-left: 1px solid #7db5ea;
  }
  
  .timeline-item {
    margin-top: -0.3em;
  }
  .timeline-item time {
    display: block;
    float: left;
    background-color: #32699d;
    padding: 0.2em 0.4em;
  }
  .timeline-item > * {
    margin: 5em 2em;
  }
  .timeline-item .location {
    clear: both;
    font-size: 0.85em;
    font-style: italic;
  }